    
    <div class="container">
            {loop="App\Page::getErros()"}
            <div class="alert alert-danger" role="alert">
                    {$value}
                </div>
            {/loop}
            {loop="App\Page::getSuccess()"}
                <div class="alert alert-success" role="alert">
                    {$value}
                </div>
            {/loop}
            <form method="post" id="form">

                    <div class="form-group row">
                        <label for="nome" class="col-sm-2 col-form-label">Matricula:</label>
                        <div class="col-sm-10">
        
                            <input type="number" name="matricula" id="matricula" class="form-control" placeholder="Matricula" required {if="isset($aluno)"}readonly{else}autofocus{/if} value={if="isset($aluno)"}{$aluno["matricula"]}{else}""{/if}>
                        </div>
                    </div>
            
                    <div class="form-group row">
        
                        <label for="nome" class="col-sm-2 col-form-label">Nome:</label>
                        <div class="col-sm-10">
        
                            <input type="text" name="nome" id="nome" class="form-control" placeholder="Nome" required {if="isset($aluno)"}autofocus{/if} value='{if="isset($aluno)"}{$aluno["nome"]}{/if}'>
                        </div>
                    </div>
        
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">Email:</label>
                        <div class="col-sm-10">
                            <input type="email" name="email" id="email" placeholder="Email" class="form-control" required value={if="isset($aluno)"}{$aluno["email"]}{else}""{/if}>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="curso" class="col-sm-2 col-form-label">Curso:</label>
                        <div class="col-sm-10">
                            <select class="custom-select" name="curso" id="curso">
                                {loop="$cursos"}
                                    <option value="{$value['id']}" {if="isset($aluno) && $aluno['idcurso'] == $value['id']"}selected{/if}>{$value["nome"]}</option>
                                {/loop}
                            </select>
                        </div>
                    </div>

                    
        
                    <div class="form-group row">
                        <input name="salvar" id="salvar" class="btn btn-primary col" type="submit" value="Salvar">
                        <input name="cancelar" id="cancelar" class="btn btn-danger col ml-1" type="reset" value="Cancelar">
                    </div>

                    
        
        
                </form>
       
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>


    <script type="text/javascript" src="/res/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/res/js/additional-methods.min.js"></script>
    <script type="text/javascript" src="/res/js/localization/messages_pt_BR.js"></script>
    <script type="text/javascript" src="/res/js/validacao.js"></script>

</body>

</html>