    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title text-center my-3">Gestão de Emprestimos</h1>
            </div>
            <div class="panel-body">
                {loop="App\Page::getErros()"}
                    <div class="alert alert-danger" role="alert">
                        {$value}
                    </div>
                {/loop}
                {loop="App\Page::getSuccess()"}
                    <div class="alert alert-success" role="alert">
                        {$value}
                    </div>
                {/loop}
                <form action="" method="get">

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="query" name="query" placeholder="Pesquisar Alunos">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary" type="button" id="button-addon2">Pesquisar</button>
                        </div>
                    </div>

                </form>
                        
                      
                <p class="float-right">
                    <a class="text-right" href="#">Opções Avançada</a>
                </p>
                <a href="/emprestimos/create">Novo Emprestimo</a>
                <table class="table table-striped table-bordered table-hover" id="table">
                    <thead class="thead-light">
                        <tr>
                            <th>#Id</th>
                            <th>Aluno</th>
                            <th>Livro</th>
                            <th>Codigo</th>
                            <th>Data Emprestimo</th>
                            <th>Período de entrega</th>
                        </tr>
                    </thead>
                    <tbody>
                        {loop="$emprestimos"}
                        <tr>
                            <td>{$value["id"]}</td>
                            <td>{$value["aluno"]}</td>
                            <td>{$value["livro"]}</td>
                            <td>{$value["codigo"]}</td>
                            <td>{$value["dataregistro"]}</td>
                            <td>{$value["periodo_entrega"]} Anos</td>
                        {/loop}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>

        
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/res/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.quicksearch/2.3.1/jquery.quicksearch.js"></script>
    <script>
        function excluir(id){
            var resposta = confirm("Deseja deletar o emprestimo???");
            
            if(resposta == true){
                window.location.href = '/emprestimos/' + id + '/delete';
            }
        }
        
    </script>
</body>

</html>