<div class="container">
    {loop="App\Page::getErros()"}
    <div class="alert alert-danger" role="alert">
        {$value}
    </div>
    {/loop}
    {loop="App\Page::getSuccess()"}
    <div class="alert alert-success" role="alert">
        {$value}
    </div>
    {/loop}
    <form method="post" id="form" onsubmit="if(!livro) return false">
        <div class="form-row" id="livro-row">
            <div class="col">
                <div class="form-group row">

                    <label for="nome" class="col-sm-2 col-form-label">Codigo de barras:</label>
                    <div class="col-sm-10">

                        <input type="number" name="exemplar" id="exemplar" class="form-control" placeholder="Codigo de barras"
                             value="" autofocus>
                        <label id="exemplar-error" class="is-invalid text-danger" for="exemplar" style="display: none;">Este campo é requerido.</label>
                    </div>
                </div>

                <div class="form-group row">

                    <label for="nome" class="col-sm-2 col-form-label">Nome do livro:</label>
                    <div class="col-sm-10">

                        <input type="text" name="nomeLivro" id="nomeLivro" class="form-control" placeholder="Nome do Livro"
                            readonly value="">
                    </div>
                </div>
                <div class="form-group row">

                    <label for="nome" class="col-sm-2 col-form-label">Volume do livro:</label>
                    <div class="col-sm-10">

                        <input type="text" name="volumeLivro" id="volumeLivro" class="form-control" placeholder="Volume do Livro"
                            disabled value="">
                    </div>
                </div>
                <div class="form-group row">

                    <label for="nome" class="col-sm-2 col-form-label">Autor do livro:</label>
                    <div class="col-sm-10">

                        <input type="text" name="autorLivro" id="autorLivro" class="form-control" placeholder="Autor do Livro"
                            disabled>
                    </div>
                </div>
            </div>
            <div class="col-2">

                <img id="fotoLivro" src="" class="img-thumbnail">
            </div>
        </div>


        <div class="form-group row">
            <label for="livro" class="col-sm-2 col-form-label">Aluno:</label>
            <div class="col-sm-10">
                <select class="custom-select" name="aluno" id="aluno">
                    {loop="$alunos"}
                    <option value="{$value['matricula']}">{$value["nome"]} - {$value["matricula"]}</option>
                    {/loop}
                </select>
            </div>
        </div>

        <div class="form-group row">

            <label for="nome" class="col-sm-2 col-form-label">Periodo de entrega:</label>
            <div class="col-sm-10">

                <input type="number" name="periodoEntrega" id="periodoEntrega" class="form-control" placeholder="Codigo de barras"
                    required value="1">
            </div>
        </div>

        <div class="form-group row">
            <input name="salvar" id="salvar" class="btn btn-primary col" type="submit" value="Salvar">
            <input name="cancelar" id="cancelar" class="btn btn-danger col ml-1" type="reset" value="Cancelar">
        </div>

    </form>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
    crossorigin="anonymous"></script>

<script type="text/javascript" src="/res/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/res/js/additional-methods.min.js"></script>
<script type="text/javascript" src="/res/js/localization/messages_pt_BR.js"></script>



<script>
    var livro = false;
    $(document).ready(function () {
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });

        $("#exemplar").change(function () {
            $.ajax({
                method: "POST",
                url: "/api/exemplares/info",
                data: {
                    id: this.value
                },
                dataType: "json",

            }).done(function (e) {
                console.log(e);
                if (e.status) {
                    $("#exemplar-error").hide();
                    $("#nomeLivro").val(e.livro.nome);
                    $("#volumeLivro").val(e.livro.volume);
                    $("#autorLivro").val(e.livro.autor);
                    
                    if(e.emprestado == false){
                        livro = true;
                        $("#exemplar").removeClass("is-invalid");
                        $("#exemplar").addClass("is-valid");
                    }else{
                        $("#exemplar-error").html("Livro já emprestado!");
                        $("#exemplar-error").show();
                        $("#exemplar").removeClass("is-valid");
                        $("#exemplar").addClass("is-invalid");
                        livro = false;
                    }

                    if (e.livro.urlfoto) {
                        $("#fotoLivro").attr('src', '/res/img/livros_capas/' + e.livro.urlfoto);
                    }
                } else {
                    livro = false;
                    $("#exemplar-error").html("Livro Não cadastrado!");
                    $("#exemplar-error").show();
                    $("#exemplar").removeClass("is-valid");
                    $("#exemplar").addClass("is-invalid");

                    $("#nomeLivro").val("");
                    $("#volumeLivro").val("");
                    $("#autorLivro").val("");
                    $("#fotoLivro").attr('src', "");
                }
            });

        });



    });


</script>

</body>

</html>