    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title text-center my-3">Gestão de Livros</h1>
            </div>
            <div class="panel-body">
                {loop="App\Page::getErros()"}
                    <div class="alert alert-danger" role="alert">
                        {$value}
                    </div>
                {/loop}
                {loop="App\Page::getSuccess()"}
                    <div class="alert alert-success" role="alert">
                        {$value}
                    </div>
                {/loop}
                

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="query" name="query" placeholder="Pesquisar Categoria">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary" type="button" id="button-addon2">Pesquisar</button>
                        </div>
                    </div>

                
                        
                      
                
                <a href="/livros/create">Novo Livro</a>
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>ISBN</th>
                            <th>Nome</th>
                            <th>Volume</th>
                            <th>Autor</th>
                            <th>Categoria</th>
                            <th>Estoque</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {loop="$livros"}
                        <tr>
                            <td>{$value["isbn"]}</td>
                            <td>{$value["nome"]}</td>
                            <td>{$value["volume"]}</td>
                            <td>{$value["autor"]}</td>
                            <td>{$value["categoriaNome"]}</td>
                            <td>{if="empty($value['estoque'])"}0{else}{$value["estoque"]}{/if}</td>
                            <td>
                                <!-- <a class="text-dark" href='#'><i class="fas fa-info" aria-hidden="true"></i> Info</a> | -->
                                <a class="text-dark" href='/livros/{$value["isbn"]}/edit'><i class="fas fa-edit" aria-hidden="true"></i> Editar</a> |
                                <a class="text-dark" href="#" onclick="excluir('{$value['isbn']}')"><i class="fas fa-trash" aria-hidden="true"></i> Excluir</a></td>
                            </tr>
                        {/loop}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
    <script src="/res/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.quicksearch/2.3.1/jquery.quicksearch.js"></script>
    <script>
        $("#query").quicksearch('table tbody tr')
        function excluir(id){
            var resposta = confirm("Deseja deletar a categoria???");
            
            if(resposta == true){
                window.location.href = '/livros/' + id + '/delete';
            }
        }
    </script>